{% extends 'base.html' %}

{% block content %}

    <div class="container bg-light" style="min-height: 100px;">

        The announcements came just ahead of the arrival of U.S. Ambassador-designate Sergio Gor to Delhi
        this weekend, who said in September that ensuring India ends its import of Russian oil is a
        “top priority”. Mr. Gor, who was confirmed and sworn in to the position months ago will begin
        his tenure in Delhi as Ambassador to Delhi and “Special envoy to South and Central Asia” on
        January 12, 2026, and is expected to make a public address.
    </div>

{% endblock %}